/*div {
  border: 1px solid black;
}*/
body {
	background-color: #d9edf7;
	border:thick solid #337ab7;
}
.list-group-item {
	background-color: #f0f8ed;
	max-height: 50px;
	margin-bottom: 10px;
}

#list-group-item2 {
	background-color: #eaf5fb;
	max-height: 50px;
}
#navbar {
	min-width: 100%;
}
#nav {
	font-weight: bolder;
	font-size: 30px;
	font-color :#FFFFFF;
	margin-left: 10px;
}
#question {
	font-size: 20px;
	font-color:#3c763d;
}
#alert {
	text-align: center;
}
.container-fluid {
	border:medium solid #FFFFFF;
    /*border-radius: 5px;*/
    /*box-shadow: 0px -2px 35px 8px rgba(0,0,0,0.75);*/
    margin :30px;
    background-color: #FFFFFF;
}
#reset {
	text-align: right;
	font-weight: bolder;
	font-size: 30px;
	text-decoration:underline;
	color: #337ab7;
}
.container {
	min-width: 100%;
	/*border-right:thick solid #337ab7;
	border-left:thick solid #337ab7;
	border-bottom:thick solid #337ab7;*/
}
/* for overlay*/
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(225, 241, 218); /* Black fallback color */
  background-color: rgba(225, 241, 218, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #337ab7;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #609dd2;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: center;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

